.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.user-name {
  color: #F9D1B2;
  font-size: 18px;
  font-weight: 600;
}
.btn {
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ff8667;
  color: #524439;
  padding: 4px;
}
